@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_loginLayout.cshtml";
}


<div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="~/img/login_bg.jpg"
                         alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">

                        <form id="accout" method="post">

                            <div class="d-flex align-items-center mb-3 pb-1">
                                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                <span class="h1 fw-bold mb-0 mx-auto">
                                    <img src="~/img/logo_myway.png" height="50px" />
                                </span>
                            </div>

                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Utilize a sua conta para entrar</h5>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-outline mb-4">
                                <input asp-for="Input.Username" class="form-control" id="Username" autocomplete="Username" aria-required="true" />
                                <label class="form-label" for="Username">Username</label>
                                <span asp-validation-for="Input.Username" class="text-danger"></span>

                            </div>

                            <div class="form-outline mb-4">
                                <input asp-for="Input.Password" class="form-control" id="Password" autocomplete="Password" aria-required="true" />
                                <label class="form-label" for="Password">Password</label>

                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="pt-1 mb-4">
                                <button id="login-submit" type="submit" class="btn btn-dark btn-lg btn-block">Login</button>

                            </div>

                            <a class="small text-muted" href="#!">Esqueceu a password?</a>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>