@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using MyWayApp23.Data
@inject AssistenciaService assistenciaService

<AuthorizeView Policy="lisOnly">
    <Authorized>
        <h1>Assistências</h1>

        @if (assistencias != null)
        {
            <MudDataGrid Items="@assistencias.Take(4)">
                <Columns>
                    <Column T="Assistencia" Field="Aeroporto" Title="UH" />
                    <Column T="Assistencia" Field="Msg" />
                    <Column T="Assistencia" Field="Notif" />
                    <Column T="Assistencia" Field="Data" />
                    <Column T="Assistencia" Field="Voo" Title="Voo" />
                </Columns>
            </MudDataGrid>
        }

    </Authorized>
    <NotAuthorized>
        <p>Não pertences a LIS</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private IEnumerable<Assistencia> assistencias = new List<Assistencia>();

    protected override async Task OnInitializedAsync()
    {
        assistencias = assistenciaService.GetAll();
    }
}
