@page "/uploadexcel"

<PageTitle>Upload Excel</PageTitle>

@inject ISnackbar Snackbar
@inject UploadService uploadService

<AuthorizeView>
    <Authorized>
        <h1>Upload Excel</h1>
        <InputFile id="fileInput112" OnChange="UploadFiles" hidden accept=".xls, .xlsx" />

        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Dark"
                   StartIcon="@Icons.Filled.UploadFile"
                   for="fileInput112">
            Upload ficheiros de assistências
        </MudButton>

    </Authorized>
    <NotAuthorized>
        <p>Não tem acesso a esta página, por favor contacte com o administrador!</p>
    </NotAuthorized>
</AuthorizeView>


@code {

    private async void UploadFiles(InputFileChangeEventArgs e)
    {
        var entries = e.File;
        await uploadService.ImportFileAsync(entries);

        //Do your validations here
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        //Snackbar.Add($"Files with {entries!.FirstOrDefault().Size} bytes size are not allowed", Severity.Error);
        //Snackbar.Add($"Files starting with letter {entries!.FirstOrDefault().Name.Substring(0, 1)} are not recommended", Severity.Warning);
        //Snackbar.Add($"This file has the extension {entries!.FirstOrDefault().Name.Split(".").Last()}", Severity.Info);

        //TODO upload the files to the server
        
    }
}
