@page
@model MyWayApp23.Areas.Identity.Pages.Admin.Roles.CreateModel

@{
    ViewData["Title"] = "Criar Role";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Funções</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a asp-page="./Index" role="button" class="btn btn-sm btn-outline-secondary">
                <span class="btn-label"><i class="fa fa-rotate-left"></i></span> Voltar
            </a>
        </div>

    </div>
</div>

<h2>Criar função</h2>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Role" class="control-label"></label>
                <input asp-for="Input.Role" class="form-control" />
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

                <div style="margin:10px">
                    <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary">Gravar</button>
                </div>
        </form>
        </div>
    </div>
</div>